@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
body {
  margin: 0;
}
* {
  box-sizing: border-box;
  padding: 0;
}
.topbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;
  height: 80px;
  align-items: center;
  background: #072c59;
}
.logo {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: white;
  font-family: "Inter", sans-serif;
  flex: 1;
}
.menu {
  flex: 1.1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu a {
  font-size: 18px;
  font-weight: 500;
  color: white;
  opacity: 0.8;
  text-decoration: none;
  margin: 29px;
}
a.active {
  color: white;
  opacity: 1;
}
.menu button {
  width: 120px;
  padding: 8px;
  height: 35px;
  background: white;
  border-radius: 8px;
  margin: 0px 32px;
  font-size: 16px;
  font-weight: 600;
  color: #da3673;
}
.banner {
  height: 500px;
  padding: 0px 0 80px 100px;
  /* background: white; */
  display: flex;
}

.banner-text {
  flex: 1;
}
.banner-text h3 {
  padding: 80px 0 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  color: #072c59;
  font-family: "DM Serif Display", serif;
}
.banner-text p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  color: #212121;
  opacity: 0 8;
}
.banner-text button {
  width: 180px;
  height: 48px;
  background: #da3673;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 13px 56px;
  color: white;
  border: none;
}
.banner-img {
  background: url(images/pexels-andrea-piacquadio-974911.jpg);
  height: 580px;
  object-fit: cover;
  border-radius: 0 0 0 290px;
  background-size: cover;
  background-position: center;
  position: relative;
  flex: 1.2;
}

.mid {
  align-items: center;
  justify-items: center;
  padding: 120px;
  margin: center;
  text-align: center;
  padding: 13px 56px;
  gap: 150;
  /* background: chartreuse; */
}
.mid h3 {
  position: absolute;
  width: 604px;
  height: 56px;
  left: calc(50% - 604px / 2);
  top: 684px;
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 56px;
  align-items: center;
  text-align: center;
  color: #072c59;
}
.mid p {
  position: absolute;
  width: 537px;
  height: 56px;
  left: calc(50% - 537px / 2 - 0.5px);
  top: 790px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  color: #212121;
}
.banner span {
  position: absolute;
  width: 224px;
  height: 224px;
  right: 490px;
  top: 360px;
  border-radius: 100%;
  background: #072c59;
  z-index: -1;
}
.banner small {
  position: absolute;
  width: 80px;
  height: 80px;
  /* right: 65px;
  top: 80px; */
  right: 560px;
  top: 430px;
  border-radius: 100px;
  z-index: 22222;
  color: #da3673;
  background: #da3673;
}
#b {
  height: 48px;
  width: 180px;
  background-color: #da3673;
  padding: 13px 56px;
  border-radius: 8px;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.15);
  color: white;
  border: none;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
}
.bannerbg {
  background: url(images/pexels-rakicevic-nenad-1262304.jpg);
  height: 450px;
  border-radius: 0px 0px 0px 00px;
  position: relative;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  flex: 1.2;
}
.bannerbg span {
  position: absolute;
  background: #072c59;
  width: 224px;
  height: 220px;
  right: 470px;
  top: 250px;
  border-radius: 100%;
  z-index: -1;
}
.bannerbg small {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 550px;
  top: 320px;
  border-radius: 100%;
  z-index: 22222;
  color: #da3673;
  background: #da3673;
}
#main {
  text-align: center;
}
#main h3 {
  color: #072c59;
  line-height: 56px;
  font-weight: 400;
  font-size: 40px;
}
#main p {
  font-size: 18px;
  line-height: 28px;
  color: #212121;
  font-family: "Inter", sans-serif;
}
.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 350px 251px;
  grid-gap: 40px;
}

.services div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
  width: 286px;
  height: 320px;
  background: #ffffff;
  border: 1.5px solid rgba(218, 54, 115, 0.3);
  box-sizing: border-box;
  box-shadow: 8px 8px 40px rgba(7, 44, 89, 0.15);
  border-radius: 16px;
}
.services span {
  font-size: 64px;
  color: #da3673;
}
.services h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  color: #072c59;
  text-transform: uppercase;
}
.services p {
  text-align: center;
  font-family: "Inter", sans-serif;
}
.info {
  height: 604px;
  background: linear-gradient(98.43deg, #072c59 24.54%, #da3673 132.3%);
  border-radius: 302px 0px 84px;
  margin-top: 100px;
  position: relative;
  display: grid;
  grid-template-columns: 1.3fr 2fr;
}
.finfo {
  padding: 244px 56px 164px 206px;
  color: #ffffff;
}
.finfo h3 {
  font-size: 30px;
}
.line {
  position: absolute;
  width: 24px;
  height: 548px;
  right: 486px;
  left: 539px;
  bottom: 20px;
  background: #da3673;
  border-radius: 12px;
}
.linecircle {
  width: 88px;
  height: 88px;
  border-radius: 100%;
  background: #ffffff;
  border: 2px solid #da3673;
  box-sizing: border-box;
  position: absolute;
  right: -33px;
  top: 18px;
  display: grid;
}
.linecircle2 {
  width: 88px;
  height: 88px;
  border-radius: 100%;
  background: #ffffff;
  border: 2px solid #da3673;
  box-sizing: border-box;
  position: absolute;
  right: -33px;
  top: 198px;
  display: grid;
}
.linecircle3 {
  width: 88px;
  height: 88px;
  border-radius: 100%;
  background: #ffffff;
  border: 2px solid #da3673;
  box-sizing: border-box;
  position: absolute;
  right: -33px;
  top: 400px;
  display: grid;
}

.sinfo {
  padding: 76px 15%;
}
.descriptionwrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 10px;
}
.descriptionwrapper h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  font-family: " DM serif Display", serif;
  line-height: 12px;
  color: white;
}
.info p {
  color: #ffffff;
  opacity: 0.5;
}
.interest {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 100px 10%;
  height: 500;
}
.section-img {
  background: url(images/danny.jpeg);
  height: 350px;
  width: 498px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 0px 200px 95.5px 0px;
  display: flex;
  align-items: flex-end;
}
.section-img span {
  height: 86px;
  width: 86px;
  border-radius: 100%;
  background: #da3673;
  display: flex;
  margin-bottom: -40px;
  margin-left: -40px;
  z-index: -1;
}
.section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-text h2 {
  color: #072c59;
  font-size: 40px;
  font-family: "DM serif Display", serif;
  font-weight: normal;
  line-height: 56px;
}
.section-text button {
  font-size: 10px;
}
#b2 {
  height: 48px;
  width: 190px;
  padding: 10px 5px;
  background-color: #da3673;
  border-radius: 8px;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.15);
  color: white;
  border: none;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
}
.goals {
  background: #ffd8a7;
  padding: 30px 5%;
  text-align: center;
  width: 100%;
}
.goals h3 {
  color: #072d5a;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-family: "DM serif Display", serif;
  line-height: 30px;
}
.goals p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 30px;
}
.footer {
  display: grid;
  height: 380px;
  padding: 120px 0 0 0;
  grid-template-rows: 1fr 40px;
}
.blue-bg {
  background: #072c59;
}
.footer-menu {
  display: grid;
  grid-template-columns: 1.2fr 2fr 1.3fr;
  padding: 0 0 0 5%;
}
.footer-menu ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.fcircle {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  display: grid;
  place-items: center;
  background: #da3673;
  color: white;
}
.fcircle i {
  transform: rotate(100deg);
  margin: right;
}
.footer-menu h3 {
  font-family: "Inter" sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 24px;
  color: #072c59;
}
